<h2>Create an item</h2>
<form action="/create_item" method="post">
  <legend>Name</legend>
  <input type="text" name="name" placeholder="Put name here...">
  <legend>Description</legend>
  <input type="text" name="description">
  <input type="submit">
</form>