<div class="index">
<h1>Hello!</h1>

<p>Welcome to Small-Time Grocer.</p>
<p>If you own a convenience store or small grocery store, this may be the tool for you!</p>
<p>Join us and have all of your vendor and inventory organization streamlined efficiently!</p>

</ul>
</div>