<%= erb :navpartial %>
<div class="formfield">
	<fieldset>
		<legend>Items</legend>
		<ul>
			<% @items.each do |item|%>
				<li>
					<form action='/items/<%=item.id%>' method="delete">
						<input type="submit" value="delete">
					</form>
					<%= item.name %> <%=item.description%>
				</li>
			<% end %>
		</ul>
	</fieldset>
</div>