<!DOCTYPE html>
<html>
  <head>
    <title>Small Time Grocer!</title>
    <link type="text/css" rel="stylesheet" href="/styles.css">
  </head>
  <body>
  	<header>
  		<h1> Small-Time Grocer </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      <nav>
  	</header>
  	<div class="error">
  		<%= @errors[0] %>
  	</div>
    <%= yield %>
  </body>
</html>