<form action="/login" method="post">
  <legend>Username</legend>
  <input type="text" name="username" placeholder="username">
  <legend>Password</legend>
  <input type="password" name="password">
  <input type="submit">
</form>