<form class="signup_login" action="/login" method="post">
	<fieldset>
	  <legend>Login</legend>
	  <p><label for="username">Username</label><br><input id="username" type="text" name="username" placeholder="username" required/></p>
	  <p><label for="password">Password</label><br><input id="password" type="password" name="password" required/></p>
	  <p class="submit"><input type="submit" value="Login!"/></p>
	</fieldset>
</form>