<form action="/signup" method="post">
  <legend>Name</legend>
  <input type="text" name="name" placeholder="Put name here..." required>
  <legend>Email</legend>
  <input type="text" name="email" placeholder="your_email@email.com" required>
  <legend>Username</legend>
  <input type="text" name="username" placeholder="username" required>
  <legend>Password</legend>
  <input type="password" name="password" required>
  <legend>Confirm Password</legend>
  <input type="password" name="password_confirm" required>
  <input type="submit">
</form>