<form class="signup_login" action="/signup" method="post">
  <fieldset>
    <legend>Signup</legend>
    <p><label>Name</label><br><input type="text" name="name" placeholder="Put name here..." required/></p>
    <p><label>Email</label><br><input type="email" name="email" placeholder="your_email@email.com" required/></p>
    <p><label>Username</label><br><input type="text" name="username" placeholder="username" required/></p>
    <p><label>Password</label><br><input type="password" name="password" required/></p>
    <p><label>Confirm Password</label><br><input type="password" name="password_confirm" required/></p>
    <p class="submit"><input type="submit"></p>
  </fieldset>
</form>