<form action="/signup" method="post">
  <legend>Name</legend>
  <input type="text" name="name" placeholder="Put name here...">
  <legend>Email</legend>
  <input type="text" name="email" placeholder="your_email@email.com">
  <legend>Password</legend>
  <input type="password" name="password">
  <legend>Confirm Password</legend>
  <input type="password" name="password_confirm">
  <input type="submit">
</form>