<%= erb :navpartial %>
<div class="formfield">
<fieldset>
	<legend>Vendors</legend>
	<ul class="vendors">
		<% @vendors.each do |vendor| %>
			<li>
				<form action='/users/<%=@current_user.username%>/vendors/<%=vendor.id%>' method="delete">
					<input type="submit" value="delete">
				</form>
				<%= vendor.name %>
			</li>
		<% end %>
	</ul>
</fieldset>
</div>