*{
	box-sizing:border-box;
}

html {
	background: #b5dae8;

}
body {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	margin: auto;
}

header{
	margin: 0;
	position: relative;
	height: 150px;
	background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1.0)
    ), url("http://www.twainhartemarket.com/Images/BannerProduce.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

header h1{
  position: absolute; 
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 10px;
}
/* Navs */
.nav_index{
	position: absolute;
	top: 7px;
	right: 0;
	display: block;
}

.user {

}

div.userheader {
	background: #000;
	position: relative;
	height: 30px;
}

div.userheader nav{
	position: absolute;

}

div.userheader h2{
	position: absolute;
	top: 0px;
	right: 10px;
	margin: 0;
	width: 20%;
	color: #fff;
}

nav.user a{
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
	padding-top: 5px;
}
/*Forms styles*/
.submit input
{
margin-left: 4.5em;
}
.formfield {
	padding: 10px;
}

fieldset{
	border: 3px solid #781351;
	width:  41%;
	margin: auto;
	clear: both;
	}

fieldset:after{
	content:' ';
	display:block;
  clear:both;
}

fieldset input{
	margin-left: 10px;
}

label{
	margin-right: 0.5em;
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 4px;
}

legend{
	color: #fff;
	background: #ffa20c;
	border: 3px solid #781351;
	padding: 2px 6px
	}
header a {
	display: block;
	font-size: 18px;
	height: 35px;
	color :#fff;
	text-decoration: none;
	text-shadow: 4px 4px 4px #000;
	margin-right: 15px;
}

.table {
	padding: 2px;
  border:solid black 1px;
  white-space: normal;
}

.signup_login {
	padding-top: 30px;
	width: 50%;
	margin: auto;
}

ul li{
	list-style-type: none;
	margin-left: -50px;
	display: inline-block;
	width: 200px;
	padding: 5px 0px;
}
ul{
	padding: 0;
	width: 30%;
	margin: auto;
}

ul form{
	display: inline-block;
}

table {
	border-spacing: 1px;
}

h2 {
	margin-left: 10px;
	margin-bottom: 7px;
}

.vendors{
	padding: 0px;
}

footer {
	padding-top: 50px;
}

footer a{
	text-decoration: none;
	color: #fff;
	padding: 0 0 5px 15px;
}

.footer {
	padding-top: 100px;
	padding-bottom: 10px
}
